[Application]
name=JSON-to-CSV
version=0.1
# How to launch the app - this calls the 'main' function from the 'jsoncsv' package:
entry_point=jsoncsv:main
icon=img/deepcode.ico

[Python]
version=3.6.0

[Include]
# Importable packages that your application requires, one per line
packages = argparse


# Other files and folders that should be installed
files = LICENSE
    files/
